USE [master]
GO
/****** Object:  Database [ebook]    Script Date: 4/10/2018 9:29:49 PM ******/
CREATE DATABASE [ebook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ebook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ebook.mdf' , SIZE = 47104KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ebook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ebook_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ebook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ebook]
GO
/****** Object:  StoredProcedure [dbo].[GetBookInfo]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBookInfo]
@bookid int
as
begin
select * from book where id = @bookid
end
GO
/****** Object:  StoredProcedure [dbo].[GetBookList]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetBookList]
AS SELECT * FROM book

GO
/****** Object:  StoredProcedure [dbo].[GetBookStatus]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBookStatus]
	@bookid int = 1
AS
begin
	SELECT * from book where id = @bookid
end
GO
/****** Object:  StoredProcedure [dbo].[GetChapterInfo]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetChapterInfo]
@chapid int, @bookid int
as
begin
select * from chapter where id = @chapid and bookid = @bookid
end
GO
/****** Object:  StoredProcedure [dbo].[GetChapterList]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetChapterList]
@bookid int
as
begin
select * from chapter where bookid = @bookid
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateBookStatus]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateBookStatus]
@bookid int, @status int
as
begin
update book
set status = @status
where id = @bookid
end
GO
/****** Object:  Table [dbo].[book]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[chapter]    Script Date: 4/10/2018 9:29:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapter](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[chapcontent] [ntext] NULL,
	[bookid] [int] NOT NULL,
 CONSTRAINT [PK_chapter] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [DF_book_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[chapter] ADD  CONSTRAINT [DF_chapter_bookid]  DEFAULT ((1)) FOR [bookid]
GO
ALTER TABLE [dbo].[chapter]  WITH CHECK ADD  CONSTRAINT [FK_chapter_book] FOREIGN KEY([bookid])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[chapter] CHECK CONSTRAINT [FK_chapter_book]
GO
USE [master]
GO
